@import "../../setting.scss";

// Variable
$appbar-bg-color: #0067a3;
$padding-10: 10px;
// scss
.navbar-app {
    padding-left: $padding-10;
    height: $navbar-app-height;
    display: flex;
    align-items: center;
    background-color: $appbar-bg-color;
    font-size: 1.5rem;
}
