@import "../../setting";

li.task-item {
    background-color: white;
    padding: $padding-10;
    border-radius: $card-border-radius;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
    &:not(:last-child) {
        margin-bottom: $margin-10;
    }
    img {
        display: block;
        width: calc(100% + 2 * #{$margin-10});
        margin: -$margin-10 0 $margin-10 (-$margin-10);
        border-top-left-radius: $column-border-radius;
        border-top-right-radius: $column-border-radius;
    }
}
