@import "../../setting";

// scss
.board-content {
    height: $board-content-height;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    &:after {
        content: "";
        flex: 0 0 $padding-10;
    }
    // margin: 0 $margin-10 $margin-10;
    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    &::-webkit-scrollbar:horizontal {
        height: 13px;
        margin-top: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $common-element-bg;
        border-radius: $column-border-radius;
    }
    .columns-drop-preview {
        background-color: rgba(150, 150, 200, 0.1);
        border: 1px dashed #abc;
        margin: 5px 45px 5px 5px;
    }
    .add-new-column {
        max-width: 250px;
        width: 250px;
        height: 32px;
        padding: 4px 0 4px 15px;
        cursor: pointer;
        color: #fff;
        background-color: hsla(0, 0%, 100%, 0.24);
        margin-left: $margin-10;
        align-items: center;
        line-height: 24px;
        font-size: 15px;
        border-radius: $column-border-radius;
        i {
            margin-left: 5px;
        }
        &:hover {
            background-color: hsla(0, 0%, 100%, 0.34);
        }
    }
    .enter-new-column {
        width: 248px;
        max-width: 250px;
        background-color: $column-bg-color;
        padding: 4px 8px;
        border-radius: $column-border-radius;
        .input-enter-new-column {
            margin: 7px 0;
        }
    }
}
