@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
//navbar + boardbar + boardcontent = 99vh
$navbar-app-height: 5vh;
$navbar-board-height: 6vh;
$board-content-height: 88vh;
// Color
$app-main-text-color: #333;
$board-bg-color: #0079bf;
$board-bg-color: #0079bf;
$column-bg-color: #ebecf0;
$common-element-bg: rgba(255, 255, 255, 0.24);

$alert-danger-color: #ee5253;
// margin
$margin-10: 10px;
// height
$column-header-height: 46px;
$column-footer-height: 46px;
// border-radius
$column-border-radius: 5px;
$card-border-radius: 4px;
// Padding
$padding-10: 10px;
