@import "./setting.scss";
@import "~bootstrap/scss/bootstrap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 1.3em;
  background-color: $board-bg-color;
}
.trello-container {
  height: 100vh;
  overflow: hidden;
  background-color: $board-bg-color;
  color: $app-main-text-color;
  .icon {
    font-size: 14px;
    margin: 0 3px;
    color: #80808d;
  }
  .trello-container-bootstrap {
    margin: 0 15px;
    padding: 0;
  }
  textarea:focus,
  textarea.form-control:focus,
  input.form-control:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  [type="text"].form-control:focus,
  [type="password"].form-control:focus,
  [type="email"].form-control:focus,
  [type="tel"].form-control:focus,
  [contenteditable].form-control:focus {
    box-shadow: none;
    border: 1px solid $input-border-color;
  }
  .btn:focus,
  .btn:active {
    outline: none !important;
    box-shadow: none !important;
  }
  .trello-content-editable {
    background-color: inherit;
    border: none;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
    &:focus {
      background-color: white;
      cursor: text;
    }
  }
  span.cancel-icon {
    margin-left: 5px;
    cursor: pointer;
    i {
      font-size: 18px;
      color: $alert-danger-color;
      &:hover {
        color: darken($alert-danger-color, 10);
      }
    }
  }
}
